.dark .ant-input-password {
    background-color: #475569 !important; /* Nền slate-600 */
    color: #E0E0E0 !important; /* Màu chữ */
    border-color: #475569 !important; /* Viền */
  }
  
  .dark .ant-input-password::placeholder {
    color: #E0E0E0 !important; /* Placeholder */
  }
  
  .dark .ant-input-affix-wrapper {
    background-color: #475569 !important; /* Nền phần bọc input */
    /* border-color: #475569 !important; */
  }
  
  .dark .ant-input-affix-wrapper .anticon {
    color: #E0E0E0 !important; /* Màu icon (con mắt) */
  }
  
  .dark .ant-input {
    background-color: #475569 !important; 
    color: #E0E0E0 !important; 
    border-color: #475569 !important;
  }
  
  .dark .ant-input::placeholder {
    color: #E0E0E0 !important;
  }
  
  .dark .ant-input[disabled] {
    background-color: #374151 !important;
    color: #9CA3AF !important;
    border-color: #374151 !important;
  }
  